/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/assets/uploads/webbanners/*.jpeg
/public/assets/uploads/webbanners/*.jpg
/public/assets/uploads/webbanners/*.png

/public/assets/uploads/produtos_galeria/*.png
/public/assets/uploads/produtos_galeria/*.jpeg
/public/assets/uploads/produtos_galeria/*.jpg

/public/assets/uploads/comprovantes/*.png
/public/assets/uploads/comprovantes/*.jpeg
/public/assets/uploads/comprovantes/*.jpg
/public/assets/uploads/comprovantes/*.pdf

/public/assets/uploads/produtos/*.png
/public/assets/uploads/produtos/*.jpeg
/public/assets/uploads/produtos/*.jpg
